.container-box{
    width: 250px;

    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4 , 1fr);
    grid-template-columns: repeat(2 , 1fr);
}

.box{
    width: 30px;
    background-image: url("./UE_logo_icon_white.png");
    
    /* background-color: rgb(234, 195, 143); */
    border: 2px solid black;
}